:root {
  --background-dark: #141414;
  --background-light: #1F1F1F;
  --light-grey: #ADADAD;
  --border-color: #434343;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: var(--light-grey);
  background-color: var(--background-dark);
}

.app {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.bold {
  font-weight: 600;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  background-color: var(--background-light);
}

.header__title {
  margin: 0px;
}

.header__logo-link {
  display: flex;
  text-decoration: none;
  color: white;
}

.header__title--accent {
  color: #97BE0D;
}

.header__subtitle {
  margin: 10px 0px;
  text-align: center;
}

.homepage>a {
  text-decoration: none;
  color: white;
}

.homepage__title {
  text-align: center;
  color: white;
}

.homepage__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-light);
  min-width: 280px;
  min-height: 350px;
  border-radius: 6px;
  margin: 15px 10px;
  transition: 0.3s ease-in-out;
}

.homepage__card:hover{
  background-color: var(--border-color);
}

.homepage__card-title {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
}

.searchbar__wrapper {
  max-width: 300px;
  margin: 0 auto
}

.searchbar {
  margin-top: 20px;
  background-color: var(--background-light);
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgb(0, 0, 0, .12);
}

.searchbar__input {
  height: 40px;
  width: 100%;
  color: var(--light-grey);
  outline: none;
  background-color: var(--background-dark);
  border: 1px solid var(--border-color);
  padding: 0px 20px;
}

.searchbar .autocom-box {
  max-height: 280px;
  overflow-y: auto;
}

.autocom-box ul {
  margin: 0px;
  padding: 0px;
}

.autocom-box li {
  margin: 0px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

.autocom-box li:hover {
  cursor: pointer;
  background-color: #393939;
}

.resource-list {
  margin: 0 auto;
  margin-top: 20px;
}

.resource-list__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  padding: 8px;
  border: 2px solid var(--background-light)
}

.resource-list__clear-button { 
  height: 35px;
  background-color: var(--background-dark);
  color: crimson;
  border: 1px solid crimson;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.resource-list__clear-button:hover {
  background-color: crimson;
  color: white;
}

.resource-list__title{
  margin: 0px;
}

.resource-list__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px 20px 10px 20px;
  border: 2px solid var(--background-light)
}

.resource-list__resource {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--background-dark);
}

.resource-list__resource-name {
  flex: 1;
}

.resource-list__resource:nth-child(even) {
  background-color: var(--background-light);
}

.resource-list__imageAmount {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.resource-list__empty-message {
  background-color: var(--background-light);
  grid-column: span 3;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

li {
  text-decoration: none;
  list-style: none;
}

.item-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.item-card {
  margin: 15px 0px;
  min-width: 290px;
}

.item-card__name-field {
  background-color: var(--background-light);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item-card__imageAmount {
  display: flex;
  align-items: center;
}

.item-card__resource-list {
  padding: 0px;
  margin: 0px;
  border: 2px solid var(--background-light)
}

.item-card__resource {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.item-card__resource:nth-child(even) {
  background-color: var(--background-light);
}

.item-card__delete-button {
  display: inline-block;
  text-align: center;
  color: crimson;
  background-color: var(--background-light);
  border: 1px solid crimson;
  border-radius: 3px;
  padding: 2px 8px 5px 8px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.item-card__delete-button:hover {
  background-color: crimson;
  color: white;
}

.item-card__item-name {
  max-width: 160px;
}

.item-card__item-amount {
  width: 25px;
  text-align: center;
  background-color: #1F1F1F;
  border: 2px solid #ADADAD;
  color: #ADADAD;
  margin-right: 5px;
}

.item-card__item-amount::-webkit-outer-spin-button,
.item-card__item-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item-card__item-amount[type=number] {
    -moz-appearance: textfield;
}

.dofuslab-form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.dofuslab__input {
  padding: .3rem .3rem;
  margin: 0;
}

.dofuslab__error {
  text-align: center;
  margin-top: 1rem;
}

.dofuslab__instructions {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.4;
  margin-top: 1rem;
  text-align: center;
}

.dofuslab__button {
  padding: .3rem .3rem;
  background-color: #97BE0D;
  border: none;
  border-bottom: #78980a .3rem solid;
  margin: 0;
  cursor: pointer;
}

.dofuslab__loading {
  margin-top: 2rem;
  text-align: center;
  font-size: 20px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
    color: #97BE0D;
  }
  50% {
    color: var(--light-grey);
  }
  100% {
    color: #97BE0D;
  }
}

@media (min-width: 800px) {
  .homepage__cards {
    flex-direction: row;
  }

  .resource-list__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  max-height: 800px;
  }

  .item-cards {
    flex-wrap: wrap;
  }

  .item-card {
    margin-right: 10px;
    margin-left: 10px;
  }

  .dofuslab__input {
  min-width: 500px;
  }
}

footer {
    position: sticky;
    height: 45px;
    top: calc( 100vh - 45px );
    text-align: center;
}

.copyright>a  {
  color: var(--light-grey);
}

.credits>a  {
  color: var(--light-grey);
}